body {
    font-size: 22px;
    /* background-color: rgb(115, 26, 26); */
}

h1,
h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

a {
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    color: rgb(5, 5, 5);
    font-weight: 800;
    font-size: 26px;
    padding: 14px;
    margin: 5px;
    border-radius: 15px;
    background-color: rgba(94, 48, 48, 0.544);
}

a:hover {
    color: rgba(139, 5, 5, 0.953);
    background-color: rgb(5, 5, 5);
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

#schemas div {
    width: 70%;
}

label {
    margin-top: 10px;
    width: 50%;
    /* background-color: grey; */
}

input {
    /* background-color: grey; */
    width: 50%;
    font-size: 20px;
    margin-bottom: 10px;
}

/*TODO: Add Media Queries*/ 
@media screen and (max-width: 1000px){
    *{
        padding:0px;
        margin:0px;
    }
    section{
        padding: 0px;

    }
    h3, p{
        text-align: center;
    }
    p{
        max-width: 95%;
    }
    ul{
       flex-direction: column;
       align-items: center;
       justify-content: unset;
        width: 100%;
        min-height: max-content;
    }
    ul li{
       margin: 19px;
    }
    header{
        max-width: 100%;
    }
    #schemas div {
        width: 80%;
    }
    label{
        width: 90%;
    }
    input{
        width: 90%;
    }
    img{
        width: 100%
    }


}